@{
    ViewData["Title"] = "Add Image In Slide Show";
}



<div class="container">
        <div class="row mt-3">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 bg-dark">
                <div class="col-lg-12 text-center ">
                    <img src="~/Images/add.png" alt="no image" style="width: 100px; height: 100px;" />
                </div>
                <h3 class="col-lg-12 text-center text-light">
                    اضافه صوره 
                </h3>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form method="post" asp-action="add_imgShow" enctype="multipart/form-data">
                          <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group my-1">
                              <label class="control-label text-light"> الصوره</label><br />
                              <input type="file" name="ImageUrl" class="form-control" required />
                           </div>


                           <div class="col-lg-12 mt-2 mb-2">
                                <div class="col-lg-6 ">
                                     
                                    <!-- Error Message  -->
                                </div>
                                <div class="col-lg-6 ">
                                    <input type="submit" value="اضافه"  class="btn btn-outline-light" />
                                </div>
                            </div>
                     </form>
                    
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
    </div>
