@model Rosa_Bella.ViewModels.DetailsVM
<link rel="stylesheet" href="~/css/DetailsSty.css" asp-append-version="true" />

<div class="row">
<!--left-->
    <div class="col">
        <div class="product">
            <div class="product-small-img">
                @{
                        var main = "";
                        var c=0;
                 }
                @foreach (var srcImg in Model.product.Images)
                {
                    if(c==0) main = @srcImg.ImageUrl;
                    <img src="@srcImg.ImageUrl" />
                }
            </div>
        </div>
        <div class="img-container">
            <img src="@main" />
        </div>
    </div>
<!--Right-->
    <div class="col"></div>
</div>

<script src="~/js/DetailsScript.js"></script>
