<li class="nav-item dropdown">

      <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="/Category/Index" role="button" aria-expanded="false">الاصناف</a>
        <ul class="dropdown-menu">
            @foreach(var catg in Model)
            {
              <li><a class="dropdown-item" href="/Product/DisplayByMainCategory/@catg.Id">
                      @catg.Name <img src="@catg.CategoyImageUrl" style="width:18px; height:20px;"/>
                  </a>
              </li>
            }
              <li><a class="dropdown-item" href="/Product/Display">عرض كل المنتجات</a></li>
          <li><hr class="dropdown-divider"></li>
             <li><a class="dropdown-item" href="/Main/Add_MainCategory">اضافه صنف</a></li>
       </ul>
</li>